
.section-1, .section-4, .section-5, .section-7, .section6-area2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-1 {
    align-items: center;
    font-size: 12px;
    justify-content: space-around;
}
.content {
    padding: 2% 6% 0px 6%;
}
.inline-block {
    display: inline-block;
    margin-left: 45px;
}
.section-1 img {
    width: 80%;
}
.section-2{
    display: flex;
    flex-direction: row;
}
.section2-area1{
    display: flex;
    flex-direction: column;
}
.one{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: #000000;
    width: 120%;
    height: 28px;
    margin-top: 170px;
    margin-left: 7%;
}
.two{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 67px;
    letter-spacing: 0.04em;
    width: 140%;
    height: 51px;
    color: #000000;
    margin-top: 35px;
    margin-left: 6%;

}
.box{
    background: #D7B399;
    width: 40%;
    height: 30px;
    margin-top: 55px;
    margin-left: 6.5%;
}
.three{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}
.foot{
    margin-left: 50%;
    margin-top: 138px;
}
.burger{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 130px;
}
.section-4{
    background: #212121;
    width: 100%;
    height: 235px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section1-area2{
    display: flex;
}
.dos{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em;
    width: 60%;
    margin-left: 40%;
    height: 37px;
    color: #FFFFFF;
}
.dos2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    width: 60%;
    margin-left: 40%;
    height: 37px;
    color: #FFFFFF;
}
.section-4-1 {
    display: flex;
    flex-direction: row;
}
.section-4-1-area-1{
    width: 50%;
    height: 250px;
    background: #F9F6F1;
    justify-content: left;
}
.section-4-1-area-2{
    width: 50%;
    height: 250px;
    background: #F4F4F4;
    justify-content: center;
}
.sect4-1-1 {
    justify-content: right;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;

    color: #000000;
    height: 22px;
}
.man{
    margin-top: 20px;
}
.sect4-1-2{
    margin-left: 46%;
    margin-top: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}
.sect4-1-3{
    margin-left: 46%;
    margin-top: 40px;
}
.sect4-2-1 {
    justify-content: right;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;

    color: #000000;
    height: 22px;
}
.sect4-2-2{
    margin-left: 46%;
    margin-top: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}
.sect4-2-3{
    margin-left: 46%;
    margin-top: 40px;
}
.section5-area {
    width: 25%;
    height: 279px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.section5-area1 {
    background-image: url(short.png);
}
.section5-area2 {
    background-image: url(short1.png);
}
.section5-area > div {
    margin-left: 15px;
    margin-bottom: 15px;
}
.section-6{
    display: flex;
    flex-direction: column;
}
.section6-area1{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 150px;

    color: #212121;
}
.section6-area2{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 100px;
}
.dress{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 25px;
    color: #000000;

}
.dress1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D7B399;
    margin-top: 10px;
}
.section6-area3{
    text-align: center;
    margin-top: 100px;
}
.section-7{
    background: #212121;
    width: 100%;
    height: 180px;
    margin-top: 140px;
    display: flex;
    flex-direction: row;
}
.section7-area1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.02em;
    margin-top: 70px;
    color: #FFFFFF;
}
input{
    background: #F9F6F1;
    width: 110%;
    height: 35px;
    margin-top: 67px;
    margin-left: 10%;
}
.section7-area3{
    background: #D7B399;
    width: 11%;
    height: 40px;
    margin-left: 5%;
    margin-top: 67px;
}
h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #FFFFFF;
}
::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;

    text-align: center;
    letter-spacing: 0.02em;

    color: #8D8D8D;
}
@media (max-width: 1024px) and (min-width: 768px) {
    .section5-area {
        width: 33%;
    }
}

@media (max-width: 767px){
    .section-1 {
        flex-direction: column;
        align-items: center;
    }
    .section-1 > div {
        margin-bottom: 10px;
    }
    .section-1 div span:first-child {
        margin-left: 0;
    }
    .foot{
        display: none;
    }
    .one{
        justify-content: center;
        width: 100%;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
    }
    .two{
        width: 120%;
        font-weight: 800;
        font-size: 26px;
        line-height: 47px;
    }
    .three{
        font-weight: 300;
        font-size: 10px;
        line-height: 20px;
    }
    .dos{
        
        font-weight: 400;
        font-size: 13px;
        line-height: 37px;
        margin-left: 18%;
    }
    .dos2{
        font-weight: 200;
        font-size: 12px;
        line-height: 26px;
        margin-left: 20%;
    }
    .sect4-1-2, .sect4-1-3, .sect4-2-2, .sect4-2-3{
        display: none;
    }
    .sect4-1-1{
        margin-left: 6%;
        font-weight: 400;
        font-size: 13px;
    }
    .sect4-2-1{
        margin-left: 6%;
        font-weight: 400;
        font-size: 13px;
        margin-left: 6%;
    }
    .section7-area1{
        
        font-weight: 500;
        font-size: 20px;
        line-height: 37px;
        letter-spacing: 0.02em;
        margin-top: 12px;
        color: #FFFFFF;
    }
    input{
        width: 40%;
        height: 35px;
        margin-top:20px;
        margin-left: 10%;
    }
    .section7-area3{
        width: 11%;
        height: 40px;
        margin-top: 40px;
        margin-left: 45%;
        width: 20%;
    }

    .section5-area {
        width: 50%;
    }
    .inline-block {
        margin-left: 1px;
        justify-content: space-between;
        
    }
    .section1-area2{
        display: none;
    }
    .section1-area4{
        display: none;
    }
    .section-7{
        text-align: center;
        background: #212121;
        width: 100%;
        height: 220px;
        flex-direction: column
    }
    .section7-area3{
        display: none;
    }
    @media(max-width: 1540px){
        .foot{
            display: none;
        }
    }
