body{
    background: url("Union.png");
    background-color: #fff;
}
span{
    color: red;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
  }
  header .navbar a{
    justify-content: flex-start;
    color:#928A97;
    font-size: 2rem;
    margin:0 .8rem;
    position: static;
   
    font-style: normal;
    
    font-size: 20px;
    line-height: 50px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 76px;
    text-decoration: none;
  }
  h1{
    position: absolute;
    left: 222px;
    top: 290px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 800;
    font-size: 45.1778px;
    
    letter-spacing: 0.08em;
    text-transform: uppercase;
    
    color: #fff;
    color: transparent; /* прозрачный цвет букв */
    -webkit-text-stroke: 1px rgb(249, 249, 255);
                                                
    
  }
  h2{
    position: absolute;;
    left: 222px;
    top: 368px;
    
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    
    color: #FFFFFF;
    
  }
.twit{
    position: absolute;
    left: 222px;
    top: 450px;

}
.git{
    position: absolute;
    left: 285px;
    top: 450px;
}
.vector{
    position: absolute;
    left: 348px;
    top: 450px;
}
.inst{
    position: absolute;
    left: 411px;
    top: 450px;
}
.strelka{
    position: absolute;
    left: 222px;
    top: 700px;
}
h3{
    position: absolute; 
    left: 250px;
    top: 690px;

    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    font-size: 14.2667px;
    line-height: 16px;



    color: #928A97;

}

 
 
  
    
