html {
    height: 100%;
 }

body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: 'lato', sans-serif;
    
}


 .container{
     display: flex;
 }
.back{
    margin-left: 0px;
    margin-top: 0px;
}
.logo{
    margin-top: 67px;
    margin-left: 480px;
}
.mua{
    color: #292E5B;
    margin-left: -680px;
    margin-top: 0px;
    padding: 200px;
    text-align: center;
    flex-direction: row;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    letter-spacing: 0.1em;
    
}
