    * {
        margin: 0;
        padding: 0;
    }
    
    html {
        height: 100%;
    }
    
    body {
        background-color: white;
        display: flex;
        min-height: 100%;
        font-family: 'lato', sans-serif;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    
    .back {
        flex-grow: 40;
        display: flex;
        overflow: hidden;
        background: rgba(29, 31, 67, 0.5);
        background-repeat: no-repeat;
        width: 499px;
        height: 1024px;
        filter: alpha(opacity=40);
    }
    
    .right-login {
        flex-grow: 60;
    }
    
    .centered-content {
        display: flex;
        justify-content: center;
        margin-top: 67px;
    }
    
    .centered-content1 {
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }
    
    .mua {
        color: #292E5B;
        padding: 40px;
        text-align: center;
        flex-direction: row;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 60px;
        letter-spacing: 0.1em;
    }
    
    .form {
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }
    
    input {
        width: 374px;
        height: 77px;
        background: #FFFFFF;
        box-sizing: border-box;
        padding: 15px;
        border-radius: 12px;
        margin-bottom: 15px;
    }
    
    button[type=submit] {
        width: 270px;
        height: 61px;
        background: #292E5B;
        border-radius: 10px;
        padding: 10px;
    }
    
     ::placeholder {
        width: 111px;
        height: 24px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #8C8C8C;
    }
    
    a {
        width: 139px;
        height: 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #838383;
        margin-left: 255px;
    }
    
    button[type=submit] {
        margin-top: 0px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }
    
    @media only screen and (max-width: 900px) {
        .back {
            display: none;
        }
        .mua {
            font-size: 20px;
        }
    }
